html, body { 
    /* background: #112035; */
    background: #FFF;
    margin: 0;
    padding: 0;  
    height: 100%;
    overflow: hidden;
}

#app {
    display: flex;
    flex-flow: row;
    height: 100%;    
}

#viz {
    /* display: flex;
    flex-wrap: wrap; */
    flex: 1 1 auto;
    background: #112035;
}

#yearNav {
    display: inline-flex;
    margin: 0 auto;
}

select {
    font-family: 'Poppins', sans-serif;
}


select option {
    font-family: 'Poppins', sans-serif;
}

#nav {
    font-family: 'Poppins', sans-serif;
    width: 300px;
}
.aluno {
    margin: 0;
    padding: 0;
}

.aluno:hover {
    opacity: 0.2;
    cursor: pointer;
}

.ensino-particular {
    background: rgba(255, 255, 255, .1);
}

button {
    height: 50px;
    width: 50px;
}

h2#year {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    margin: 0;
    width: 150px;
}