html, body { 
    /* background: #112035; */
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;  
    height: 100%;
    overflow: hidden;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.95);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

#overlay div {
    margin: 0 auto;
}

#app {
    display: flex;
    flex-flow: row;
    height: 100%;    
}

#viz {
    /* display: flex;
    flex-wrap: wrap; */
    flex: 1 1 auto;
    background: #112035;
    padding: 5px;
}

#yearNav {
    margin: 0 auto;
}

select {
    font-family: 'Poppins', sans-serif;
}


select option {
    font-family: 'Poppins', sans-serif;
}

#nav {
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    width: 300px;
}

#tagInstructions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #CCC;
    color: #888;
    padding: 30px;
  }

#sortNav {
    border-bottom: 1px dashed #CCC;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0px;
    text-align: center;
}

#sortNav label {
    font-size: 0.9em;
    font-weight: 800;
}

#yearNav {
    text-align: center;
    width: 100%;
}

#yearNav i {
    font-size: 2.5em;
    text-align: center;
}

#yearNav i:hover {
    opacity: 0.3;
    cursor: pointer;
}

#yearNav span#year {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    margin: 0;
    text-align: center;
    width: 150px;
}

#tag .description {
    padding: 0 0 0 3px;
}

#tag .description label {
    display: block;
    font-weight: 800;
    padding: 0;
    margin: 6px 0 0 0;
}

#tag .description span {
    padding: 0;
    margin: 0;
}

.aluno {
    margin: 0;
    padding: 0;
}

.aluno:hover {
    opacity: 0.2;
    cursor: pointer;
}

.ensino-particular {
    background: rgba(255, 255, 255, .1);
}

#story { 
    height: 100%; 
}

#intro div {
    max-width: 800px;
}

#intro img {
    margin: 0 0 7px -5px;
}

.simple {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #CCC;
    color: #666;
    padding: 0 30px 0 30px;
    flex-wrap: wrap;
}

.simple a {
    color: #fff;
}

.simple button {
    background: #7E15FE;
    border: 0;
    color: #fff;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    padding: 25px;
    margin: 27px 0 0 0;
}

.simple button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.tooltip {
    border-bottom: 1px dotted #CCC;
}

#generator { 
    display: flex;
    border: 1px solid #DDD;
    padding: 15px;
}


#yourTag {
    background: #112035;
    height: 300px;
    width: 300px;
}

#yourself fieldset {
    border: 0;
}

#yourself fieldset label { 
    display: block;
    font-size: 0.90em;
    font-weight: 600;
    margin: 0 0 3px 0;
}

#yourself fieldset span {
    font-size: 1.2em;
}

#yourself fieldset select {
    font-size: 1.1em;
    padding: 5px;
}

#yourself .warning {
    background: #DDDCF4;
    color: #333;
    margin: 0;
    padding: 10px;
}